<table class="table table-striped table-bordered">
  <thead class="head">
    <tr class="row">
      <td class="column" *ngFor="let column of data?.columns" [ngClass]="{'checkbox-column' : column.checkbox}">        
        <strong *ngIf="!column.checkbox">{{ column.name }}</strong>
        <input type="checkbox" *ngIf="column.checkbox" 
          (change)="toggle()"
          [hidden]="selected.length"
          [checked]="selected.length">

        <i class="glyphicon glyphicon-remove-circle text-danger" *ngIf="column.checkbox && selected.length" (click)="toggle()"></i>
      </td>
      <td *ngIf="data?.actions">
        <strong>Ações</strong>
      </td>
    </tr>
  </thead>
  <tbody class="body">
    <tr class="row" *ngFor="let row of data?.rows; let i = index">
      <td class="column" *ngFor="let column of data?.columns">
        <strong class="responsive" *ngIf="!column.checkbox">
          {{ column.name }}
        </strong>
        <span *ngIf="!column.checkbox" 
          [style.color]="column.hasCustomColor ? row.color : ''">
          {{ row[column.id] }}
        </span>
        
        <strong class="responsive" *ngIf="column.checkbox">
          {{ column.checkbox.singleName }}
        </strong>        
        <input type="checkbox" *ngIf="column.checkbox" [checked]="exists(row)" (change)="toggle(row)">
      </td>
      <td class="column action" *ngIf="data?.actions">
        <div *ngFor="let action of data?.actions" class="action-buttons">
          <button class="btn btn-flat btn-block {{ action.class }}"
          [class.btn-social]="!!action.icon"
          (click)="action.handler(row)"
          *ngIf="action.condition ? action.condition(row) : true">
            <i *ngIf="action.icon" class="{{ action.icon }}"></i>
            {{ action.name }}
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="!data?.rows?.length"  class="row">
      <td class="column text-center" [attr.colspan]="data?.columns.length + 1">
        {{data?.noRowsMsg || 'Nenhum registro exibido'}}
      </td>
    </tr>
  </tbody>
</table>
